<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>API Config</title>
        <title lang="de-DE">API-Konfiguration</title>
        <input-field>
            <name>shopSlug</name>
            <label>Your Karla Shop Slug</label>
            <label lang="de-DE">Dein Karla Shop Slug</label>
            <helpText>Unique identifier for your Karla shop.</helpText>
            <helpText lang="de-DE">Eindeutiger Bezeichner für dein Karla-Shop.</helpText>
        </input-field>
        <input-field>
            <name>apiUsername</name>
            <label>Your Organization Username</label>
            <label lang="de-DE">Dein Karla-Shop-Benutzername</label>
            <helpText>Username to access the Karla API.</helpText>
            <helpText lang="de-DE">Benutzername zum Zugriff auf die Karla API.</helpText>
        </input-field>
        <input-field type="password">
            <name>apiKey</name>
            <label>Your Karla API key</label>
            <label lang="de-DE">Dein Karla API-Schlüssel</label>
            <helpText>Your API key for authenticating with Karla's services.</helpText>
            <helpText lang="de-DE">Dein API-Schlüssel zur Authentifizierung bei Karlas Diensten.</helpText>
        </input-field>
        <input-field>
            <name>apiUrl</name>
            <label>Your target Karla API base url</label>
            <label lang="de-DE">Deine Ziel-Karla-API-Basis-URL</label>
            <helpText>The base URL for Karla's API endpoints.</helpText>
            <helpText lang="de-DE">Die Basis-URL für Karlas API-Endpunkte.</helpText>
            <defaultValue>https://api.gokarla.io</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Order Statuses</title>
        <title lang="de-DE">Bestellstatus</title>
        <input-field type="bool">
            <name>orderOpen</name>
            <label>Open</label>
            <label lang="de-DE">Offen</label>
            <helpText>Send the order and its deliveries to Karla servers when order status is "Open".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Bestellstatus "Offen" ist.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>orderInProgress</name>
            <label>In Progress</label>
            <label lang="de-DE">In Bearbeitung</label>
            <helpText>Send the order and its deliveries to Karla servers when order status is "In Progress".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Bestellstatus "In Bearbeitung" ist.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>orderCompleted</name>
            <label>Completed</label>
            <label lang="de-DE">Abgeschlossen</label>
            <helpText>Send the order and its deliveries to Karla servers when order status is "Completed".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Bestellstatus "Abgeschlossen" ist.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>orderCancelled</name>
            <label>Cancelled</label>
            <label lang="de-DE">Storniert</label>
            <helpText>Send the order and its deliveries to Karla servers when order status is "Cancelled".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Bestellstatus "Storniert" ist.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Delivery Statuses</title>
        <title lang="de-DE">Lieferstatus</title>
        <input-field type="bool">
            <name>deliveryOpen</name>
            <label>Open</label>
            <label lang="de-DE">Offen</label>
            <helpText>Send the order and its deliveries to Karla servers when delivery status is "Open".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Lieferstatus "Offen" ist.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>deliveryShipped</name>
            <label>Shipped</label>
            <label lang="de-DE">Versandt</label>
            <helpText>Send the order and its deliveries to Karla servers when delivery status is "Shipped".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Lieferstatus "Versandt" ist.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>deliveryShippedPartially</name>
            <label>Shipped (partially)</label>
            <label lang="de-DE">Teilweise versandt</label>
            <helpText>Send the order and its deliveries to Karla servers when delivery status is "Shipped (partially)".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Lieferstatus "Teilweise versandt" ist.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>deliveryReturned</name>
            <label>Returned</label>
            <label lang="de-DE">Zurückgesendet</label>
            <helpText>Send the order and its deliveries to Karla servers when delivery status is "Returned".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Lieferstatus "Zurückgesendet" ist.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>deliveryReturnedPartially</name>
            <label>Returned (partially)</label>
            <label lang="de-DE">Teilweise zurückgesendet</label>
            <helpText>Send the order and its deliveries to Karla servers when delivery status is "Returned (partially)".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Lieferstatus "Teilweise zurückgesendet" ist.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>deliveryCancelled</name>
            <label>Cancelled</label>
            <label lang="de-DE">Storniert</label>
            <helpText>Send the order and its deliveries to Karla servers when delivery status is "Cancelled".</helpText>
            <helpText lang="de-DE">Bestellung und Lieferungen an Karla-Server senden, wenn der Lieferstatus "Storniert" ist.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Mappings</title>
        <title lang="de-DE">Mappings</title>
        <input-field>
            <name>depositLineItemType</name>
            <label>The type of line item that should be considered as a deposit for the order</label>
            <label lang="de-DE">Der Typ des Line Items, der als Pfand für die Bestellung angesehen werden sollte</label>
            <helpText>For instance, a deposit for a beverage that is purchased.</helpText>
            <helpText lang="de-DE">Zum Beispiel ein Pfand für ein gekauftes Getränk.</helpText>
            <defaultValue></defaultValue>
        </input-field>
    </card>
</config>
